# Gemini API Key (Automatically provided by the platform)
GEMINI_API_KEY=

# Facebook API Access Token
VITE_FB_ACCESS_TOKEN=EAAhVR7d06XYBQ3TkjRIZAKPPXcGuYit5QcLiZC4hqe1zHdVko46oEobrGOpJBAsfGAr9BkYZAtZC0gZAE8pZAfbxKepxAWeXpZB5HMJGy9jQJ6qoAakh2EfANZClTi4l1tkyzO5PVE2v3xZCXY9cNQCkSLbuS9UruYfPD7l4QXneZC9xSyEp2GhuBpT8leZABJ3pspr32aRZCSj9cvBt1qgSGZC0n47KReJZCdjvA0ToZC4hZBVtzcA0zxZC15iFjNE4k0yM1Pgegr96rBuqLrwqyZB6hgLJwh1HdBU5qIhAcFzy0y537SkOi3TNcBhiZAAZAw2mwfJjUUCR0lY44jqtk04TqQV2wVpS6jEYVQZDZD

# If you want to use Firebase or other services, add them here:
# VITE_SPREADSHEET_WEBAPP_URL=
# VITE_FIREBASE_API_KEY=
# VITE_FIREBASE_AUTH_DOMAIN=
